@font-face {
  font-family: 'roboto_condensedlight';
  src: url("../fonts/robotocondensed-light-webfont.eot");
  src: url("../fonts/robotocondensed-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-light-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensedregular';
  src: url("../fonts/robotocondensed-regular-webfont.eot");
  src: url("../fonts/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-regular-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CopyrightHouseIndustries';
  src: url("../fonts/CopyrightHouseIndustries.eot");
  src: url("../fonts/CopyrightHouseIndustries.eot") format("em../bedded-opentype"), url("../fonts/CopyrightHouseIndustries.woff2") format("woff2"), url("../fonts/CopyrightHouseIndustries.woff") format("woff"), url("../fonts/CopyrightHouseIndustries.ttf") format("truetype"), url("../fonts/CopyrightHouseIndustries.svg#CopyrightHouseIndustries") format("svg"); }

/* adjustment vars */
html {
  font-size: 16px; }

body, html {
  height: 100%;
  width: 100%; }

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  font-family: "roboto_condensedregular", sans-serif; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

section {
  padding: 30px 0; }

.section-title {
  font-family: 'roboto_condensedlight';
  font-size: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px; }

.section-title--contrast {
  color: #003935; }

.section-title--smaller {
  font-size: 48px; }

.header {
  min-height: 660px;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.nav {
  min-height: 60px;
  background-color: rgba(0, 57, 53, 0.7);
  margin-bottom: 60px; }

.nav-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px; }

.logo {
  font-size: 0;
  display: block;
  width: 34%; }

.logo-img {
  display: block;
  max-width: 100%; }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 66%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.nav__link {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase; }
  .nav__link:hover {
    color: #2b8bb6; }

.nav__link--tel {
  font-family: 'roboto_condensedlight'; }

.btn {
  background-color: #f35303;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.85);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.85);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 5px; }
  .btn:hover {
    color: #fff; }

.header-content {
  text-align: right; }

.header-title {
  text-align: center;
  display: block;
  font-family: 'CopyrightHouseIndustries';
  font-size: 87px;
  line-height: 105px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 30px; }

.price {
  font-size: 30px;
  font-family: 'roboto_condensedlight';
  background-color: #f35303;
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 30px; }

.header__desc__item {
  font-family: 'CopyrightHouseIndustries';
  font-size: 45px;
  color: #003935;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
  margin-left: -80px;
  max-width: 660px;
  padding: 0 15px; }

.statistic__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.statistic__item {
  text-align: center; }

.statistic__item-num {
  font-family: 'CopyrightHouseIndustries';
  font-size: 100px;
  line-height: 50px;
  margin-bottom: 10px;
  color: #f35303;
  display: block; }

.statistic__item-desc {
  font-size: 18px;
  text-transform: uppercase;
  color: #003935; }

.process {
  min-height: 625px;
  background-image: url("../img/process-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 60px; }

.section-title--process {
  margin-bottom: 60px; }

.process__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 60px; }

.process__item {
  width: 200px; }
  .process__item:last-child .process__elipse::after {
    display: none; }

.process__elipse {
  width: 200px;
  height: 200px;
  border: 20px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  text-align: center;
  font-size: 100px;
  line-height: 160px;
  color: #fff; }
  .process__elipse::before {
    display: block;
    content: '';
    height: 40px;
    width: 40px;
    background-color: #f35303;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-family: 'CopyrightHouseIndustries';
    font-size: 36px;
    line-height: 46px;
    color: #fff;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -30px; }
  .process__elipse::after {
    display: block;
    content: '';
    height: 20px;
    width: 110px;
    background-color: #fff;
    position: absolute;
    left: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.process__elipse--one::before {
  content: '1.'; }

.process__elipse--two::before {
  content: '2.'; }

.process__elipse--three::before {
  content: '3.'; }

.process__elipse--four::before {
  content: '4.'; }

.process__desc {
  font-family: 'CopyrightHouseIndustries';
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #f35303;
  text-transform: uppercase; }

.process__form {
  max-width: 82.29%;
  margin: 0 auto;
  vertical-align: middle;
  font-size: 0; }

.process__form-input {
  background-color: transparent;
  border: 10px solid #fff;
  border-top-width: 15px;
  border-bottom-width: 15px;
  font-family: 'roboto_condensedlight';
  font-size: 24px;
  color: #c9c9c9;
  padding: 5px 10px;
  line-height: 24px;
  display: inline-block;
  vertical-align: middle; }
  .process__form-input::-webkit-input-placeholder {
    color: #c9c9c9; }
  .process__form-input::-moz-placeholder {
    color: #c9c9c9; }
  .process__form-input:-ms-input-placeholder {
    color: #c9c9c9; }
  .process__form-input::placeholder {
    color: #c9c9c9; }

.process__form-input[type=text] {
  -webkit-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
  border-right-width: 15px;
  width: 29.59%; }

.process__form-input[type=tel] {
  border-left-width: 15px;
  border-right-width: 15px;
  width: 40%; }

.btn-wrap {
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 10px 15px 15px;
  -webkit-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
  width: 30%; }

.btn--process {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-family: 'roboto_condensedlight';
  color: #fff;
  border: none;
  padding: 6px 5px; }

.features {
  padding-bottom: 60px; }

.features__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.features__item {
  max-width: 260px;
  min-height: 390px;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .features__item:hover .features__item-over {
    opacity: 1; }

.features__item-over {
  background-color: rgba(0, 57, 53, 0.5);
  min-height: 390px;
  max-width: 260px;
  padding: 10px;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.features__item-pic {
  max-width: 125px;
  margin: 0 auto; }

.features__item-img {
  width: 100%; }

.features__item-title {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-bottom: 35px; }

.features__item-desc {
  max-width: 220px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-family: 'CopyrightHouseIndustries';
  line-height: 30px; }

.features__item1 {
  background-image: url("../img/features1.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .features__item1::before {
    display: block;
    content: '';
    position: absolute;
    height: 5px;
    width: 130px;
    background-color: #f35303;
    top: -5px;
    left: -5px; }
  .features__item1::after {
    display: block;
    content: '';
    position: absolute;
    height: 130px;
    width: 5px;
    background-color: #f35303;
    top: -5px;
    left: -5px; }

.features__item2 {
  background-image: url("../img/features2.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .features__item2::after {
    display: block;
    content: '';
    position: absolute;
    height: 5px;
    width: 130px;
    background-color: #f35303;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.features__item3 {
  background-image: url("../img/features3.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .features__item3::after {
    display: block;
    content: '';
    position: absolute;
    height: 5px;
    width: 130px;
    background-color: #f35303;
    left: 50%;
    top: -5px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.features__item4 {
  background-image: url("../img/features4.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .features__item4::before {
    display: block;
    content: '';
    position: absolute;
    height: 5px;
    width: 130px;
    background-color: #f35303;
    bottom: -5px;
    right: -5px; }
  .features__item4::after {
    display: block;
    content: '';
    position: absolute;
    height: 130px;
    width: 5px;
    background-color: #f35303;
    bottom: -5px;
    right: -5px; }

.cook {
  min-height: 640px;
  background-image: url("../img/cook.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 60px; }

.cook-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.cook__list {
  width: 22.8%; }

.cook__item {
  margin-bottom: 10px; }

.cook__link {
  background-color: #003935;
  font-family: 'roboto_condensedlight';
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 5px 5px 5px 68px;
  background-repeat: no-repeat;
  background-position: 10px center;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .cook__link:hover {
    background-color: #f35303; }

.cook__link--snack {
  background-image: url("../img/cook1.png"); }

.cook__link--starter {
  background-image: url("../img/cook2.png"); }

.cook__link--second {
  background-image: url("../img/cook3.png"); }

.cook__link--grill {
  background-image: url("../img/cook4.png"); }

.cook__link--dietetic {
  background-image: url("../img/cook5.png"); }

.cook__link--garnish {
  background-image: url("../img/cook6.png");
  background-position: 10px -6px; }

.cook__link--drink {
  background-image: url("../img/cook7.png"); }

.cook__link--dessert {
  background-image: url("../img/cook8.png"); }

.cook__link--bake {
  background-image: url("../img/cook9.png"); }

.cook__item--active .cook__link {
  background-color: #f35303; }

.cook__content-list {
  width: 74.12%; }

.cook__content-item {
  height: 476px;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  overflow: auto;
  padding: 10px; }
  .cook__content-item::-webkit-scrollbar {
    width: 20px;
    background-color: rgba(255, 255, 255, 0.5); }
  .cook__content-item::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
            border-radius: 8px;
    background-color: #f35303; }

.cook__content-item--active {
  display: block; }

.cook__sub-item {
  font-family: 'CopyrightHouseIndustries';
  font-size: 36px;
  line-height: 30px;
  color: #003935;
  margin-bottom: 25px; }

.sub-item--smaller {
  font-size: 24px; }

.order-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-shrink: top;
      -ms-flex-negative: top;
          flex-shrink: top; }

.order-form {
  background-color: #003935;
  width: 30.67%;
  padding: 20px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-right: 2.63%; }
  .order-form input {
    font-family: 'roboto_condensedlight';
    font-size: 24px;
    line-height: 24px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 2px 20px; }

.btn--order {
  display: block;
  width: 100%;
  font-family: 'roboto_condensedlight';
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding: 0; }

.order__text {
  font-family: 'CopyrightHouseIndustries';
  font-size: 36px;
  color: #003935;
  line-height: 41px;
  width: 65.75%; }
  .order__text p {
    margin-bottom: 0;
    margin-top: 0; }

.footer {
  min-height: 70px;
  background-color: #333333; }
  .footer .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    min-height: 70px; }

.footer__address, .footer__phone, .footer__author {
  font-family: 'roboto_condensedlight';
  color: #fff;
  font-size: 18px; }

.footer__phone, .footer__author-link {
  text-decoration: none;
  color: #fff; }
  .footer__phone:hover, .footer__author-link:hover {
    color: #2b8bb6; }

.footer__nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 340px; }

.footer__nav-link {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff; }
  .footer__nav-link:hover {
    color: #2b8bb6; }
