@font-face {
  font-family: 'roboto_condensedlight';
  src: url("robotocondensed-light-webfont.eot");
  src: url("robotocondensed-light-webfont.eot?#iefix") format("embedded-opentype"), url("robotocondensed-light-webfont.woff2") format("woff2"), url("robotocondensed-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensedregular';
  src: url("robotocondensed-regular-webfont.eot");
  src: url("robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("robotocondensed-regular-webfont.woff2") format("woff2"), url("robotocondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CopyrightHouseIndustries';
  src: url("fonts/CopyrightHouseIndustries.eot");
  src: url("fonts/CopyrightHouseIndustries.eot") format("embedded-opentype"), url("fonts/CopyrightHouseIndustries.woff2") format("woff2"), url("fonts/CopyrightHouseIndustries.woff") format("woff"), url("fonts/CopyrightHouseIndustries.ttf") format("truetype"), url("fonts/CopyrightHouseIndustries.svg#CopyrightHouseIndustries") format("svg"); }

/* adjustment vars */
html {
  font-size: 16px; }
  @media screen and (max-width: 1200px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 992px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 12px; } }

body, html {
  height: 100%;
  width: 100%; }

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif; }

.container {
  width: 940px;
  margin: 0 auto; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }
