.cook {
  min-height: 640px;
  background-image: url('../img/cook.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 60px;
}

.cook-wrap {
  display: flex;
  justify-content: space-between;
}

.cook__list {
  width: 22.8%;
}

.cook__item {
  margin-bottom: 10px;
}

.cook__link {
  background-color: $green;
  @include RobotoCondensed(light);
  font-size: 24px;
  text-transform: uppercase;
  color: $white;
  border-radius: 5px;
  padding: 5px 5px 5px 68px;
  background-repeat: no-repeat;
  background-position: 10px center;
  display: block;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    background-color: $orange;
  }
}

.cook__link--snack {
  background-image: url('../img/cook1.png');
}

.cook__link--starter {
  background-image: url('../img/cook2.png');
}

.cook__link--second {
  background-image: url('../img/cook3.png');
}

.cook__link--grill {
  background-image: url('../img/cook4.png');
}

.cook__link--dietetic {
  background-image: url('../img/cook5.png');
}

.cook__link--garnish {
  background-image: url('../img/cook6.png');
  background-position: 10px -6px;
}

.cook__link--drink {
  background-image: url('../img/cook7.png');
}

.cook__link--dessert {
  background-image: url('../img/cook8.png');
}

.cook__link--bake {
  background-image: url('../img/cook9.png');
}

.cook__item--active {
  .cook__link {
    background-color: $orange;
  }
}

.cook__content-list {
  width: 74.12%;
}

.cook__content-item {
  height: 476px;
  background-color: rgba($white, .5);
  display: none;
  overflow: auto;
  padding: 10px;
  &::-webkit-scrollbar {
    width: 20px;
    background-color: rgba($white, .5);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: $orange;
  }
}


.cook__content-item--active {
  display: block;
}

.cook__sub-item {
  @include CopyrightHouse();
  font-size: 36px;
  line-height: 30px;
  color: $green;
  margin-bottom: 25px;
}

.sub-item--smaller {
  font-size: 24px;
}
