.features {
  padding-bottom: 56px;
}

.features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.features__item {
  width: 23.07%;
  min-height: 392px;
  position: relative;
  transition: all 0.2s;
  &:hover {
    .features__item-over {
      opacity: 1;
    }
  }
}

.features__item-over {
  background-color: rgba($green, .5);
  padding: 10px;
  padding-top: 15px;
  min-height: 392px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.2s;
}

.features__item-pic {
  width: 51.4%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.features__item-img {
  width: 100%;
}

.features__item-title {
  font-size: 24px;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  margin-bottom: 23px;
  position: relative;
  width: 100%;
  &::after {
    display: block;
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    height: 1px;
    bottom: -11px;
    background-color: $white;
  }
}

.features__item-desc {
  max-width: 220px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  color: $white;
  @include CopyrightHouse();
  line-height: 30px;
}

.features__item1 {
  background-image: url('../img/features1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  &::before {
    display: block;
    content: '';
    position: absolute;
    height: 5px;
    width: 130px;
    background-color: $orange;
    top: -5px;
    left: -5px;
  }
  &::after {
    display: block;
    content: '';
    position: absolute;
    height: 130px;
    width: 5px;
    background-color: $orange;
    top: -5px;
    left: -5px;
  }
}

.features__item2 {
  background-image: url('../img/features2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    display: block;
    content: '';
    position: absolute;
    height: 5px;
    width: 130px;
    background-color: $orange;
    left: 50%;
    transform: translateX(-50%);
  }
}

.features__item3 {
  background-image: url('../img/features3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    display: block;
    content: '';
    position: absolute;
    height: 5px;
    width: 130px;
    background-color: $orange;
    left: 50%;
    top: -5px;
    transform: translateX(-50%);
  }
}

.features__item4 {
  background-image: url('../img/features4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  &::before {
    display: block;
    content: '';
    position: absolute;
    height: 5px;
    width: 130px;
    background-color: $orange;
    bottom: -5px;
    right: -5px;
  }
  &::after {
    display: block;
    content: '';
    position: absolute;
    height: 130px;
    width: 5px;
    background-color: $orange;
    bottom: -5px;
    right: -5px;
  }
}
