.footer {
  min-height: 70px;
  background-color: #333333;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70px;
  }
}

.footer__address, .footer__phone, .footer__author {
  @include RobotoCondensed(light);
  color: $white;
  font-size: 18px;
}

.footer__phone, .footer__author-link {
  text-decoration: none;
  color: $white;
  &:hover {
    color: #2b8bb6;
  }
}

.footer__address {
  width: 24.56%;
  letter-spacing: -0.3px;
}

.footer__phone {
  width: 11%;
}

.footer__nav-list {
  display: flex;
  justify-content: space-around;
  width: 33%;
}

.footer__author {
  width: 17.54%;
  letter-spacing: -0.2px;
}

.footer__nav-link {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  &:hover {
    color: #2b8bb6;
  }
}
