.header {
  min-height: 660px;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav {
  min-height: 60px;
  background-color: rgba($green, .7);
  margin-bottom: 60px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

.logo {
  font-size: 0;
  display: block;
  width: 22.8%;
}

.logo-img {
  display: block;
  max-width: 100%;
}

.nav__list {
  display: flex;
  width: 65%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__link {
  color: $white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: #2b8bb6;
  }
}

.nav__link--tel {
  @include RobotoCondensed(light);
}

.btn {
  background-color: $orange;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  padding: 3px 3px;
  width: 167px;
  text-align: center;
  letter-spacing: 0;
  @include RobotoCondensed(light);
  &:hover {
    color: $white;
  }
}

.burger {
  cursor: pointer;
  display: none;
}


.burger__line {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 4px;
  background-color: $orange;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
}

.header-content {
  text-align: right;
}

.header-title {
  text-align: center;
  display: block;
  @include CopyrightHouse();
  font-size: 87px;
  line-height: 105px;
  color: $white;
  background-color: rgba(#000000, .6);
  margin-bottom: 30px;
}

.price {
  font-size: 30px;
  @include RobotoCondensed(light);
  background-color: $orange;
  color: $white;
  padding: 0 13px;
  display: inline-block;
  margin-bottom: 30px;
}

.header__desc-item {
  @include CopyrightHouse();
  font-size: 45px;
  color: $green;
  background-color: rgba($white, .5);
  margin-bottom: 30px;
  margin-left: -88px;
  max-width: 660px;
  padding: 0 15px;
}

.statistic {
  padding: 0 0 8px;
}

.statistic__list {
  display: flex;
  justify-content: space-between;
  width: 85.52%;
  margin: 0 auto;
}

.statistic__item {
  text-align: center;
}

.statistic__item-num {
  @include CopyrightHouse();
  font-size: 100px;
  line-height: 100px;
  margin-top: -10px;
  color: $orange;
  display: block;
}

.statistic__item-desc {
  font-size: 18px;
  text-transform: uppercase;
  color: $green;
}
