.order {
  padding-top: 23px;
  padding-bottom: 25px;
  background-image: url('../img/orange.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.order-content {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: top;
}

.order-form {
  background-color: $green;
  width: 31.5%;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-right: 2.63%;
  min-height: 200px;
  input {
    @include RobotoCondensed(light);
    font-size: 24px;
    line-height: 24px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 2px 20px;
    // color: #c9c9c9;
    border-radius: 5px;
    &::placeholder {
      color: #c9c9c9;
    }
  }
}


.btn--order {
  display: block;
  width: 100%;
  @include RobotoCondensed(light);
  font-size: 30px;
  line-height: 40px;
  color: $white;
  text-transform: uppercase;
  border: none;
  padding: 0;
}

.order__text {
  @include CopyrightHouse();
  font-size: 36px;
  color: $green;
  line-height: 41px;
  width: 65.75%;
  p {
    margin-bottom: 0;
    margin-top: 0;
  }
}
