.process {
  min-height: 625px;
  background-image: url('../img/process-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 60px;
}

.section-title--process {
  margin-bottom: 40px;
}

.process__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 94.73%;
  margin: 0 auto;
  margin-bottom: 22px;
}

.process__item {
  width: 200px;
  &:last-child {
    .process__elipse {
      &::after {
        display: none;
      }
    }
  }
  &:first-child {
    .process__elipse {
      &::before {
        display: none;
      }
    }
  }
}

.process__elipse {
  width: 200px;
  height: 200px;
  border: 20px solid $white;
  border-radius: 50%;
  position: relative;
  text-align: center;
  font-size: 100px;
  line-height: 160px;
  color: $white;
  &::before {
    display: block;
    content: '';
    height: 20px;
    width: 70px;
    background-color: $white;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  &::after {
    display: block;
    content: '';
    height: 20px;
    width: 70px;
    background-color: $white;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.process__item-num {
  display: block;
  height: 40px;
  width: 40px;
  background-color: $orange;
  border-radius: 50%;
  @include CopyrightHouse();
  font-size: 36px;
  line-height: 46px;
  color: $white;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -30px;
}

.process__desc {
  @include CopyrightHouse();
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $orange;
  text-transform: uppercase;
}

.process__form {
  width: 83.5%;
  margin: 0 auto;
  vertical-align: middle;
  font-size: 0;
  text-align: center;
}


.process__form-input {
  background-color: transparent;

  @include RobotoCondensed(light);
  font-size: 24px;
  color: #c9c9c9;
  padding: 5px 10px;
  line-height: 24px;
  &::placeholder {
    color: #c9c9c9;
  }
}

.input-wrap {
  border: 8px solid $white;
  border-top-width: 10px;
  border-bottom-width: 8px;
  display: inline-block;
  vertical-align: middle;
}

.input-wrap--text {
  border-radius: 5px 0 0 5px;
  border-right-width: 15px;
  width: 29.59%;
}

.input-wrap--tel {
  border-left-width: 15px;
  border-right-width: 15px;
  width: 40%;
}

.process__form-input {
  width: 100%;
  border: none;
  overflow: hidden;
  border-radius: 10px;
}

.btn-wrap {
  background-color: $white;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 10px 8px 15px;
  border-radius: 0 5px 5px 0;
  width: 30%;
  text-align: center;
}

.btn--process {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  @include RobotoCondensed(light);
  color: $white;
  border: none;
  width: 97%;
}
