/* adjustment vars */
html {
  font-size: 16px;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  font-family: $body-font;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

section {
  padding: 15px 0;
}

.section-title {
  @include RobotoCondensed(light);
  font-size: 60px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.section-title--contrast {
  color: $green;
}

.section-title--smaller {
  font-size: 48px;
  margin-bottom: 12px;
}
