/* adjustment vars */
html {
  font-size: 16px;

  @include desktop {
    font-size: 16px;
  }

  @include laptop {
    font-size: 15px;
  }

  @include tablet {
    font-size: 14px;
  }

  @include phone {
    font-size: 12px;
  }
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  font-family: $body-font;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
