@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/robotocondensed-light-webfont.eot');
    src: url('../fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-light-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed-regular-webfont.eot');
    src: url('../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CopyrightHouseIndustries';
    src: url('../fonts/CopyrightHouseIndustries.eot');
    src: url('../fonts/CopyrightHouseIndustries.eot') format('em../bedded-opentype'),
         url('../fonts/CopyrightHouseIndustries.woff2') format('woff2'),
         url('../fonts/CopyrightHouseIndustries.woff') format('woff'),
         url('../fonts/CopyrightHouseIndustries.ttf') format('truetype'),
         url('../fonts/CopyrightHouseIndustries.svg#CopyrightHouseIndustries') format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin RobotoCondensed($weight: normal) {
  @if ($weight == normal) {
    font-family: 'roboto_condensedregular';
  }
  @if ($weight == light) {
    font-family: 'roboto_condensedlight';
  }
}

@mixin CopyrightHouse {
  font-family: 'CopyrightHouseIndustries';
}
