@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

%clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin inline-block($valign: top) {
  display: inline-block;
  vertical-align: $valign;
}

// responsive

@function rem($px) {
  
  @return $px/16px + 0rem;
}

@mixin desktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
  
}

@mixin laptop {
  @media screen and (max-width: 992px) {
    @content;
  }
  
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
  
}

@mixin phone {
  @media screen and (max-width: 480px) {
    @content;
  }
  
}

// retina

@mixin retina {
  @media screen and (-webkit-min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 144dpi) {
    @content;
  }
  
}