@media (max-width: 1170px) {
  /* Process */
  .process__form {
    width: 79%;
  }

  .input-wrap--tel {
    width: 34%;
  }

  .btn-wrap {
    width: 33%;
  }

  .btn--process {
    font-size: 25px;
  }

  /* Features */
  .features__item {
    // width: 20%;
  }

  /* Order */

  .order {
    .section-title {
      font-size: 40px;
    }
  }

  /* Footer */

  .footer {
    padding: 20px 0;
    .container {
      flex-wrap: wrap;
      width: 80%;
    }
  }
  .footer__address, .footer__phone, .footer__nav-list, .footer__author {
    width: 40%;
    text-align: center;
  }
  .footer__nav-list {
    justify-content: space-between;
  }
}


@media (max-width: 1140px) {
  /* Header */
  .nav__list {
    width: 75%;
  }
  .header-title {
    font-size: 80px;
  }
  /* Cook Menu */

  .cook__link {
    padding-left: 50px;
  }

  /* Order */

  .order-content {
    align-items: flex-start;
  }
}

@media (max-width: 1045px) {
  /* Features */
  .features__item-title {
    font-size: 20px;
  }

  .features__item-desc {
    font-size: 22px;
  }
}

@media (max-width: 980px) {
  /* Header */
  .nav__link {
    font-size: 17px;
  }

  .header-title {
    font-size: 75px;
    line-height: 1.1;
  }

  /* Process */
  .process__elipse {
    &::before, &::after {
      width: 45px;
    }
  }

  .process__form-input {
    font-size: 18px;
  }

  .btn-wrap {
    padding: 9px 10px 9px 0px;
  }

  .btn--process {
    font-size: 20px;
    line-height: 28px;
  }

  /* Cook Menu */

  .cook__link {
    font-size: 20px;
  }

  .cook__content-item {
    height: 385px;
  }

  .cook__link--garnish {
    background-position: 10px -12px;
  }

  .cook__sub-item {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .sub-item--smaller {
    font-size: 18px;
  }

  /* Order */

  .order {
    .section-title {
      font-size: 35px;
    }
  }
  .order-form {
    input {
      font-size: 22px;
      padding: 4px 15px;
    }
  }
  .btn--order {
    font-size: 25px;
  }

  /* Footer */

  .footer__address, .footer__phone, .footer__nav-list, .footer__author {
    width: 45%;
    text-align: center;
  }

}

@media (max-width: 900px) {
  /* Process */
  .process__list {
    justify-content: space-around;
    width: 78%;
  }

  .process__item {
    width: 40%;
    .process__elipse {
      margin: 0 auto;
      &::before, &::after {
        display: none;
      }
    }
  }
  .process__form {
    width: 95%;
  }
  .process__form-input {
    font-size: 16px;
  }

  .btn--process {
    font-size: 18px;
  }
  /* Features */

  .features__list {
    width: 85%;
    margin: 0 auto;
    justify-content: space-around;
  }

  .features__item {
    width: 35%;
    margin-bottom: 20px;
  }

  /* Cook Menu */
  .cook-wrap {
    flex-direction: column;
  }

  .cook__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  .cook__item {
    width: 30%;
  }

  .cook__content-list {
    width: 90%;
    margin: 0 auto;
  }

  /* Order */

  .order {
    .section-title {
      font-size: 30px;
    }
  }
  .order-content {
    flex-wrap: wrap;
  }
  .order__text {
    width: 100%;
    order: 1;
    margin-bottom: 30px;
    text-align: center;
  }
  .order-form {
    order: 2;
    width: 55%;
    margin: 0 auto;
  }

  /* Footer */

  .footer__address, .footer__phone, .footer__nav-list, .footer__author {
    width: 50%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  /* Header */
  .nav__link {
    font-size: 15px;
  }

  /* Statistic */
  .statistic__item {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .statistic__item-num {
    font-size: 75px;
    margin-bottom: 0;
    line-height: 75px;
  }
  .statistic__item-desc {
    font-size: 16px;
  }

  /* Process */

  .process__form {
    width: 95%;
  }

  /* Features */

  .features__item-over {
    padding: 10px 5px;
  }

  /* Cook Menu */

  .cook__link {
    font-size: 18px;
  }

  /* Order */

  .order {
    .section-title {
      font-size: 25px;
    }
  }
  .order__text {
    text-align: center;
    font-size: 30px;
  }

  /* Footer */
  .footer {
    .container {
      width: 70%;
      justify-content: center;
    }
  }

  .footer__address, .footer__phone, .footer__nav-list, .footer__author {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
  }

  .footer__author {
    margin-bottom: 0;
  }
}

@media (max-width: 690px) {
  /* Header */
  .header {
    min-height: 550px;
    padding-bottom: 30px;
  }

  .nav {
    padding: 10px 0;
  }

  .nav-wrapper {
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    position: relative;
  }
  .nav__list {
    display: none;
    order: 3;
    width: 100%;
    margin-top: 20px;
  }

  .nav__item {
    align-self: center;
    margin-bottom: 10px;
  }

  .nav__list--active {
    display: flex;
    flex-direction: column;
    transition: all 0.2s;
  }
  .nav__link {
    font-size: 17px;
  }
  .burger {
    margin-top: 20px;
    display: block;
    order: 2;
    transition: all 0.2s;
  }
  .burger__line {
    transition: all .3s;
  }
  .burger--active {
    position: absolute;
    right: 0;
    top: -5px;
    width: 30px;
    height: 25px;
    .burger__line--first {
      transform: rotate(-45deg);
      position: absolute;
      top: 10px;
    }
    .burger__line--second {
      display: none;
    }
    .burger__line--third {
      transform: rotate(45deg);
      position: absolute;
      top: 10px;
    }
  }
  .logo {
    width: 50%;
    margin-top: 5px;
  }

  .header-title {
    font-size: 40px;
  }

  .price {
    font-size: 20px;
  }

  .header__desc-item {
    font-size: 30px;
    margin-left: 0;
    width: 100%;
    text-align: center;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  /* Statistic */
  .statistic {
    padding-top: 20px;
  }

  .statistic__list {
    flex-wrap: wrap;
  }

  .statistic__item {
    width: 100%;
  }
  /* Process */
  .process__list {
    width: 90%;
  }

  .process__elipse {
    width: 150px;
    height: 150px;
    font-size: 60px;
    line-height: 120px;
    border-width: 15px;
  }

  .process__desc {
    font-size: 23px;
    line-height: 23px;
  }

  .process__item-num {
    width: 30px;
    height: 30px;
    font-size: 26px;
    line-height: 33px;
    margin-top: -25px;
  }

  .section-title--process {
    font-size: 45px;
  }

  /* Features */
  .section-title--contrast {
    font-size: 45px;
  }

  .features__list {
    width: 60%;
  }

  .features__item {
    width: 70%;
  }

  /* Cook Menu */
  .cook__list {
    margin-bottom: 10px;
  }

  .cook__item {
    width: 45%;
    &:last-child {
      width: 100%;
    }
  }

}

@media (max-width: 570px) {
  /* Process */
  .process__form {
    width: 70%;
    background-color: $green;
    border-radius: 5px;
    padding: 10px;
  }

  .input-wrap {
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 10px;
  }

  .process__form-input {
    border: 1px solid $white;
    border-radius: 1px;
  }

  .btn-wrap {
    display: block;
    width: 100%;
    background-color: none;
    background-color: transparent;
    padding: 0;
  }

  .btn--process {
    margin: 0 auto;
    display: block;
    width: 100%;
  }

  /* Features */

  .features__list {
    width: 70%;
  }

  .features__item {
    width: 90%;
  }

  /* Order */

  .order-form {
    width: 75%;
  }

  /* Footer */

  .footer {
    .container {
      flex-wrap: wrap;
      width: 80%;
    }
  }
}

@media (max-width: 480px) {
  /* Header */
  .header {
    min-height: 400px;
  }

  .header-title {
    font-size: 32px;
    padding: 10px 10px;
  }

  .price {
    font-size: 16px;
  }

  .header__desc-item {
    font-size: 24px;
  }

  /* Process */

  .process__list {
    width: 90%;
  }

  .process__item {
    width: 70%;
  }

  /* Features */

  .features__list {
    width: 90%;
  }

  .features__item {
    width: 90%;
  }

  /* Cook Menu */
  .section-title--cook {
    font-size: 30px;
  }

  .cook__item {
    width: 100%;
  }

  /* Order */

  .order-form {
    width: 100%;
  }

  /* Footer */

  .footer {
    .container {
      flex-wrap: wrap;
      width: 100%;
    }
  }

  .footer__nav-link {
    font-size: 16px;
  }

  /* Popup */

  .order-form--popup {
    width: 80%;
  }
}
