@import "libs";
@import "_misc/fonts";

// adjustment variables
$container-width: 1170px;
$body-font: 'roboto_condensedregular', sans-serif;

//colors
$white: #fff;
$orange: #f35303;
$green: #003935;
$green: #003935;

// layout
@import "_misc/mixins";
@import "_misc/adjustment";

// styles
@import "_sections/header";
@import "_sections/process";
@import "_sections/features";
@import "_sections/cook-menu";
@import "_sections/order";
@import "_sections/footer";
@import "_sections/popup";
@import "_media";
